<nav>
  <img
    src="/assets/mdi_bee.svg"
    width="80"
  />
  <h1>Gubee</h1>
</nav>
<main>
  <div>
    <div class="filters">
      <input 
      type="search" 
      name="searchbox" 
      id="searchbox"
      placeholder="Busca por tecnologia" 
      (keyup)="fetch($event)">
      <div class="dropdown">
        <button class="dropdown-btn">Filtrar</button>
        <form class="dropdown-content">
          <fieldset *ngFor="let tech of techs">
            <input type="checkbox" name="{{tech}}" id="{{tech}}" (change)="onChange(tech, $event.target)">
            <label for="{{tech}}">{{tech}}</label>
          </fieldset>
        </form>
      </div>
    </div>
    <section class="card-group">
      <div *ngFor="let product of products">
        <app-card [product]="product" ></app-card>
      </div>
    </section>
  </div>
</main>