nav {
  display: flex;
  align-items: center;
  padding: 0 3rem;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);

  h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }
}

main {
  max-width: 900px;
  margin: 0 auto;

  .card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}

.filters {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
  margin-bottom: 2rem;

  input[type="search"] {
    padding: 0.5rem 2rem;
    width: 100%;
    border-radius: .5rem 0 0 .5rem;
    border: none;
  }

  .dropdown {
    display: relative;
    align-items: center;
    justify-content: center;

    .dropdown-btn {
      padding: 0.5rem 3rem;
      border-radius: 0 .5rem .5rem 0;
      border: none;
      background: #ff0;
      font-weight: bold;
    }
    
    &:hover .dropdown-content {
      display: block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background: white;
      border-radius: 0 0 0.5rem 0.5rem;
      padding: 0.5rem 1rem;
      z-index: 1;

      fieldset {
        & + fieldset {
          margin-top: .5rem;
        }
      }
    }
  }
}
